// _variables.scss

$purple-dark: #3c00d7;
$purple: #4200f6;
$ocean: #9CF0E1;
$green: #deff00;
$black: #1a1414;
$white: #fff8ec;
$blue-dark: #0e0230;
$fucsia: #f137a6;
$fucsia-dark: #df3397;
$pink: #f391b9;

// Figma navbar (node 2053:128)
$figma-purple: #6155f5;
